<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBEvitel2"  connectionString="Data Source=localhost;Initial Catalog=Evitel2;Integrated Security=SSPI;Trusted_Connection=True;Application Name=Evitel2;" />
  </connectionStrings>
  <appSettings>
    <add key="AppName" value="EvitelApp"/>
    <add key="NoLogin" value="Yes"/>
  </appSettings>

</configuration>