<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EvitelApp2.Properties.CallSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="EvitelApp2.Properties.SKISettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="EvitelApp2.Properties.LPvkSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="EvitelApp2.LPvKSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!-- <add name="DBEvitel2"  connectionString="Data Source=KARIANB2021\SQLEXPRESS;Initial Catalog=Evitel2;Integrated Security=SSPI;Trusted_Connection=True;Application Name=Evitel2;" />
    -->
    <add name="DBEvitel2"  connectionString="Data Source=(LocalDb)\MsSQLLocalDB;Initial Catalog=Evitel2;Integrated Security=SSPI;Trusted_Connection=True;Application Name=Evitel2;" />
  </connectionStrings>
  <appSettings>
    <add key="AppName" value="EvitelApp"/>
  </appSettings>

  <userSettings>
    <EvitelApp2.Properties.CallSettings>
      <setting name="DateFrom" serializeAs="String">
        <value />
      </setting>
      <setting name="DateTo" serializeAs="String">
        <value />
      </setting>
      <setting name="Grouping" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Interval" serializeAs="String">
        <value>0</value>
      </setting>
    </EvitelApp2.Properties.CallSettings>
    <EvitelApp2.Properties.SKISettings>
      <setting name="DateFrom" serializeAs="String">
        <value>03/25/2023 09:36:00</value>
      </setting>
      <setting name="DateTo" serializeAs="String">
        <value>03/25/2023 09:36:00</value>
      </setting>
      <setting name="Interval" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Grouping" serializeAs="String">
        <value>0</value>
      </setting>
    </EvitelApp2.Properties.SKISettings>
    <EvitelApp2.Properties.LPvkSettings>
      <setting name="DateFrom" serializeAs="String">
        <value>03/25/2023 09:36:00</value>
      </setting>
      <setting name="DateTo" serializeAs="String">
        <value>03/25/2023 09:36:00</value>
      </setting>
      <setting name="Interval" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Grouping" serializeAs="String">
        <value>0</value>
      </setting>
    </EvitelApp2.Properties.LPvkSettings>
    <EvitelApp2.LPvKSettings>
      <setting name="DateFrom" serializeAs="String">
        <value />
      </setting>
      <setting name="DateTo" serializeAs="String">
        <value />
      </setting>
      <setting name="Interval" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Grouping" serializeAs="String">
        <value />
      </setting>
    </EvitelApp2.LPvKSettings>
  </userSettings>
</configuration>